<div class="container">
  <div class="row">
    <div class="col text-center">
      <img src="./img/avatar-2.webp" alt="Aziz Alhadiid" class="img-thumbnail rounded-circle" width="200">
      <h1 class="display-4">Aziz Alhadiid</h1>
      <p class="lead">Information System Student | Web Developer</p>
    </div>
  </div>
</div>